{% extends 'backend_layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/plugins/kindeditor/themes/default/default.css"/>
{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="#">文章管理</a></li>
        <li class="active">创建文章</li>
    </ol>
    <form action="/add/" method="POST">
    {% csrf_token %}

    <div style="padding: 5px 8px;">
        <div class="form-group">
            <label for="title">标题</label>
            <input type="text" name="d_name" class="form-control" id="title" placeholder="文章标题">
        </div>
        <div class="form-group">
            <label for="content" >内容</label>
            <textarea name="content" name="content" style="width: 100%;min-height:500px;visibility:hidden;"></textarea>
        </div>
        <div class="form-group">
            <label for="types">标签：</label>

            <div>
                {% for tag in tags %}
                <label class="radio-inline">
                <check>
                </check>
                    <input type="radio" name="tag" value="{{ tag.id }}"> {{ tag.tag }}
                </label>
                {% endfor %}

            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="保存">

        </div>
    </div>
 </form>

{% endblock %}

{% block js %}
    <script charset="utf-8" src="/static/plugins/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/static/plugins/kindeditor/lang/zh_CN.js"></script>
    <script>
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="content"]', {
                resizeType: 1,
                uploadJson: '/on.asp',
                fileManagerJson: '/asp/fjson.asp'
            });
        });
    </script>
    <script>{{ er|safe }}</script>
{% endblock %}